<div class="vertical-center">
  <div class="container">
    <search-component *ngIf="currentTab === 'search'" (searchResultEvent)="onSearchResult($event)"></search-component>
    <new-delivery-form-component *ngIf="currentTab === 'form'" (successfulEvent)="deliveryCreatedEvent($event)"></new-delivery-form-component>
    <deliveries-list-component *ngIf="currentTab === 'last-deliveries'"></deliveries-list-component>
    <success-component *ngIf="currentTab === 'success'"></success-component>
  </div>
</div>